*{
    margin:0px;
    padding:0px;
}
body {
    height: 6000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/********************************************* fixed-header ************************************************/
.fixed-header {
    height: 60px;
    width: 100vw;
    background-color: rgba(255,255,255,.7);
    position: fixed;
    z-index: 10;
    overflow: auto;
}
.header-logo {
    height:50px;
    width:120px;
   margin:5px 40px;
    float:left;
     border-radius:10px;
}
.header-links {
    width:500px;
    margin-left:auto;
    line-height:50px;
    word-spacing:10px;
}
.header-links a {
        text-decoration: none;
        color: #023e8a;
        font-size: 20px;
}
.header-links a:focus{
    text-decoration:underline;
}
/******************************************** section - 1 - ************************************************/
.sec1-bg, .sec1-cover {
    height: 100vh;
    width: 100%;
}
.sec1-bg {
    background-image: url(../images/sec1.jpg);
    background-size: cover;
    position: relative; 
}
.sec1-cover {
    background-color:rgba(0,0,0,.6);
}
.sec1-consapt{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.sec1-consapt h2{
    font-size: 60px;
    color:white;
}
.sec1-consapt p {
        color: white;
        letter-spacing: 1px;
        padding-top: 10px;
        font-size: 20px;
}
.sec1-consapt button {
        margin: 10px 30px;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 10px;         
}
.sec1-consapt button:hover {
        background-color:rgba(255,255,255,0.4);
}
.sec1-consapt a {
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
}
.sec1-bt1 {
    background-color: #023e8a;
}
.sec1-bt2 {
    background-color: white;
}
.sec1-bt2 a {
        color: #023e8a;
}
/******************************************** section - 2 - ************************************************/
.sec2-contener{
    height:100vh;
    width:100%;
}
.sec2-d:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
}
.sec2-d:hover::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    transition: 1s;
}
.sec2-bar {
    margin: -80px auto 0px;
    background-color: #023e8a;
    height: 5px;
    width: 300px;
}
.sec2-tit {
    text-align: center;
    padding: 100px 0px;
    font-size: 60px;
}
.sec2-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec2-perant div {
        border: 2px solid black;
        float: left;
        width: 28%;
        height: 200px;
        text-align: center;
        margin:90px 0px 0px 50px;
        position: relative;
        background-color: #ade8f4;
        border-radius: 20px;
}
.sec2-icon {
    font-size: 50px;
    padding: 20px 0px;
    color: #023e8a;
}
.sec2-perant h3 {
    font-size: 25px;
    color: #023e8a;
}
.sec2-perant p {
    font-size: 18px;
    padding:10px 0px;
}
.sec2-perant a {
    text-decoration: none;
    color: #ffb563;
}
/******************************************** section - 3 - ************************************************/
.sec3-contener {
    width: 100%;
}
.sec3-d:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: -20;
    left: -8;
    background-color: rgba(0,0,0,0);
    border-radius: 30px;
}
.sec3-d:hover::after {
    width: 105%;
    height: 120%;
    background-color: rgba(0,0,0,.5);
    transition: 1s;
}
.sec3-tit {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 60px;
    background-color: #ffb563;
    width: 25%;
    margin: auto;
    border-radius: 20px;
    color: #023e8a;
}
.sec3-perant {
    height: 700px;
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec3-d {
    float: left;
    width: 28%;
    height: 200px;
    text-align: center;
    margin: 90px 0px 0px 50px;
    position: relative;
}
.sec3-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    color: #00b4d8;
    opacity: 0;
}
.sec3-h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-280%);
    font-size: 20px;
    color: #ffb563;
    opacity: 0;
}
.sec3-d:hover .sec3-h3 {
    opacity: 1;
    transition: 1.5s;
}
.sec3-content a {
    padding: 0px 10px;
    font-size: 30px;
    color: #ffb563;
}
.sec3-d:hover .sec3-content {
    opacity: 1;
    transition: 3s;
    z-index: 5;
}
.sec3-perant img {
        height: 200px;
        width:80%;
        border-radius:20px;
}
/******************************************** section - 4 - ************************************************/
.sec4-contener {
    height: 100vh;
    width: 100%;
}
.sec4-d:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: -1;
    border-radius: 20px;
}
.sec4-d:hover::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: 1s;
}
.sec4-bar {
    margin:-30px auto 0px;
    background-color: #ffb563;
    height: 5px;
    width: 500px;
}
.sec4-tit {
    text-align: center;
    padding: 50px 0px;
    font-size: 60px;
}
.sec4-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec4-d {
    border: 2px solid black;
    float: left;
    width: 28%;
    height: 175px;     
    margin:60px 0px 0px 50px;
    position: relative;
    border-radius:20px;
}
.sec4-d:hover h3 {
        color: #ffb563;
}
.sec4-d h3 {
        padding-left: 20%;
        font-size: 35px;
        padding-top: 18px;
}
.sec4-d p {
        padding-left: 20%;
        font-size: 21px;
}
.sec4-sl{  
    width:20%;
    position:absolute;
    top:0;
    left:0;
    font-size:35px;
    text-align:center;
    padding-top:18px;

}
/******************************************** section - 5 - ************************************************/
.sec5-contener {
    height: 100vh;
    width: 100%;
}
.sec5-bar {
    background-color: #ffb563;
    height: 5px;
    width: 300px;
    margin: -40px 0px 0px 20px;
}
.sec5-tit {
    padding: 50px 20px;
    font-size: 60px;
}
.sec5-perant {
    width: 90%;
    margin: auto;
    overflow: auto;
}
.sec5-perant >div {
    float: left;
    width: 40%;
    height: 475px;
    margin:60px 0px 0px 90px;
    position: relative;
}
.sec5-sr img{
    width:80%;
    height:90%
}
.sec5-sl i {
    color: #ffb563;
    padding:10px 20px;
}
.sec5-sl p {
    padding: 10px 20px;
}
.sec5-sr {
    text-align: center;
}
.sec5-points div{
    width:10px;
    height:10px;
    border-radius:5px;
    float:left;
    margin:20px 0px 0px 20px;
}
.sec5-points {
    overflow:auto;
    margin-left:40%;
}
.sec5-d1 {
    background-color: #0096c7;
}
.sec5-d2 {
    background-color:black;
}
.sec5-points div:hover {
    background-color: #0096c7;
}

/******************************************** section - 6 - ************************************************/
.sec6-contener {
    height: 60vh;
    width: 100%;
    background-image: url(../images/bg-sec6.jpg);
    background-size: cover;
}
.sec6-cover {
    height: 60vh;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position:absolute;
}
.sec6-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec6-perant div { 
        float: left;
        width: 20%;
        height: 60%;
        text-align: center;
        margin:90px 0px 0px 50px;
        position: relative;
        color:white;
}
.sec6-icon {
    font-size: 50px;
    padding: 20px 0px;
    color: #48cae4;
}
.sec6-perant h3 {
    font-size: 30px;
    font-weight: bold;
}
.sec6-perant p {
    font-size: 20px;
    font-weight:bold;
    padding: 10px 0px;
}
/******************************************** section - 7 - ************************************************/
.sec7-contener {
    height: 100vh;
    width: 100%;
}
.sec7-d:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-image: url(../images/bg-sec6.jpg);
    background-size:cover;
    opacity: 0;
}
.sec7-d:hover::after {
    border-radius:20px;
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
    z-index: -1;
}
.sec7-bar {
    margin: -90px auto 0px;
    background-color: #ffb563;
    height: 5px;
    width: 250px;
}
.sec7-tit {
    text-align: center;
    padding: 100px 0px;
    font-size: 60px;
}
.sec7-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec7-perant .sec7-d {
        border: 2px solid black;
        float: left;
        width: 28%;
        height: 350px;
        text-align: center;
        margin: 90px 0px 0px 50px;
        position: relative;
        border-radius:20px;
}
.sec7-cir {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin:30px auto 0px;
    border: 2px solid #ffb563;
    padding-top: 20px;
}
.sec7-cir h2 {
        font-size: 30px;
}
.sec7-perant h3 {
    font-size: 25px;
    padding-top:15px;
}
.sec7-perant p {
    font-size: 18px;
    padding: 20px 50px;
    letter-spacing:1px;
    font-weight:bold;
}
.sec7-bt1 {
    width: 40%;
    height: 10%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ffb563;
}
.sec7-d a{
    text-decoration:none;
    color:black;
}
.sec7-d:hover .sec7-cir{
    color:darkred;
    transition:2s;
}
.sec7-d:hover .sec7-h {
    color: darkred;
}
/******************************************** section - 8 - ************************************************/
.sec8-contener {
    height: 60vh;
    width: 100%;
    background-image: url(../images/bg-sec6.jpg);
    background-size: cover;
}
.sec8-cover {
    height: 60vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.sec8-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec8-d div{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin:25px 15px 0px 15px;
    float:left;
}
.sec8-cir1 {
    background-image: url(../images/emy1.jpg);
    background-size: cover;
}
.sec8-cir2 {
    background-image: url(../images/emy2.jpg);
    background-size: cover;
}
.sec8-d {
        float: left;
        width: 40%;
        height: 50%;
        margin: 90px 0px 0px 60px;
        position: relative;
        color: white;
        overflow:auto;
}
.sec8-perant h3 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}
.sec8-perant p {
    font-size: 20px;
    font-weight: bold;

}
.sec8-perant h4 {
padding-top:30px;
}
/******************************************** section - 9 - ************************************************/
.sec9-contener {
    height:100vh;
    width: 100%;
}
.sec9-bar {
    margin:-90px auto 0px;
    background-color: #ffb563;
    height: 5px;
    width: 250px;
}
.sec9-tit {
    text-align: center;
    padding: 100px 0px;
    font-size: 60px;
}
.sec9-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec9-d{
    float: left;
    width: 28%;
    background-color: rgba(203, 201, 204,0.7);
    padding: 19px 16px;
    text-align: center;
    position: relative;
    margin:7% 0;
    border-radius:20px;
}
.mm {
    margin: 7% 3%;
}
.sec9-img {
    width: 90%;
    margin: auto;
    position: relative;
}
.sec9-img img {
        width: 100%;
        border-radius: 20px;
}
.sec9-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(24, 25, 29, 0.5);
    opacity: 0;
    border-radius: 20px;
}
.sec9-d:hover .sec9-overlay {
    opacity: 1;
}
.sec9-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #48cae4;
    color: #fff;
    margin-left: auto;
}
.sec9-overlay a i {
        line-height: 40px;
}
.sec9-h2 {
    text-transform: uppercase;
  padding:10px 0px;
}
.sec9-span {
    text-transform: capitalize;
    color: #023e8a;
}
.sec9-d:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(46, 43, 43,0);
    border-radius: 20px;
}
.sec9-d:hover::after {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 43, 43,.5);
    transition: 2s;
}
/******************************************** section - 10 - ************************************************/
.sec10-contener {
    height: 100vh;
    width: 100%;
}
.sec10-bar {
    margin:-70px auto 0px;
    background-color: #ffb563;
    height: 5px;
    width: 300px;
}
.sec10-tit {
    text-align: center;
    padding: 80px 0px;
    font-size: 60px;
}
.sec10-perant {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.sec10-d {
    float: left;
    width: 28%;
    height:70%;
    background-color: rgb(203, 201, 204);
    padding: 0px 16px;
    border-radius:20px;
    position: relative;
    margin: 2% 0;
}
.m {
    margin: 2% 3%;
}
.sec10-img {
    width: 80%;
    margin-right: auto;
    border-radius:20px;
}
.sec10-img img {
        width: 80%;
}
.sec10-a1 {
    text-decoration:none;
    padding: 20px 0;
    color:red;
}
.sec10-overlay p{
    display:inline;
}
.sec10-overlay i {
    line-height: 40px;
    color: #48cae4;
    padding: 5px 0;
}
.sec10-h2 {
    text-transform: uppercase;
    padding: 10px 0;
}
.sec10-span {
    color: #0077b6;
    display: block;
    padding: 5px 0;
}
.sec10-d:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(46, 43, 43,0);
    border-radius:20px;
}
.sec10-d:hover::after {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 43, 43,.5);
    transition: 2s;
}
.sec10-info{
    position:absolute;
    z-index:2;
}
/******************************************** section - 11 - ************************************************/
.sec11-perant {
    width: 100%;
    height: 40vh;
    background-color: #023e8a;
    position: relative;
}
.sec11-perant div {
        width: 40%;
        height:90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-48%);
        text-align: center;
        color: gray;
}
.sec11-content img{
        display:block;
        margin:auto;
        padding:-20px 0 10px 0;
}
.sec11-content a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #48cae4;
    border: none;
}
.sec11-content p {
    padding: 20px 0px;
}
